.headers {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
}

.menuContainer {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
}

.titleLink {
  color: #000000;
  text-decoration: none;
}

@media screen and (max-width: 400px) {
  .headers {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }

  .menuContainer {
    padding: 0;
  }
}
